!!!html5

%head
  -#%meta{"charset"="utf-8"}
  -#%meta{"http-equiv"="X-UA-Compatible", "content"="IE=edge"}
  -#%meta{"name"="viewport", "content"="width=device-width, initial-scale=1"}
  %title
    Tsinghua Mail System
  %link{:href => "css/bootstrap.min.css",
        :rel  => "stylesheet"}
  %body
    .container
      .row
        .col-xs-2.col-xs-offset-1
          logo
        .col-xs-3.col-xs-offset-4
          %button coucou
      .row
        .col-xs-3
          List
        .col-xs-9
          content
