/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3";

.top-row {
	padding: 10px 0 10px 0;
}

.main-ui {
	border-top: 1px solid gray;
	border-right: 1px solid gray;
	//border-bottom: 1px solid gray;

	margin: 10px 0 20px 0;
}

.list-box {
	height: 5em;
	border-bottom: 1px solid gray;
	border-right: 1px solid gray;
	&:first-child {
	}
	&:last-child {
	}
	.box {
		height:100%;
		background-color: #C7A9D9;
		&:hover {
			//background-color: #EBEBEB;
			background-color: #D4B3E8;
		}
	}
	a {
		text-decoration: none;
		color: black;
		&:hover {
			text-decoration: none;
			color: black;
		}
	}
}

.head-details {
	border-bottom: 1px solid gray;
	margin-top: 1em;
	margin-bottom: 3em;
	padding-bottom: 2em;
}

.history {
	height: 20em;
	border-right: 1px solid gray;
}
