<!DOCTYPE html>
<html ng-app='thumail'>
  <head>
    <meta charset='utf-8'>
    <meta content='IE=edge' http-equiv='X-UA-Compatible'>
    <meta content='width=device-width, initial-scale=1' name='viewport'>
    <title>
      Tsinghua Mail System
    </title>
    <link href='css/screen.css' rel='stylesheet'>
    <link href='css/bootstrap.min.css' rel='stylesheet'>
    <body>
      <div class='container'>
        <div class='row top-row'>
          <div class='col-xs-2 col-xs-offset-1'>
            <img class='img-responsive' src='img/logo.jpg'>
          </div>
          <div class='col-xs-3 col-xs-offset-4'>
            <!-- /%button coucou -->
          </div>
        </div>
        <div class='row main-ui' ng-controller='MailboxController as mailbox'>
		<button ng-click="mailbox.getMails(mailbox.urls[0])">User1</button>
		<button ng-click="mailbox.getMails(mailbox.urls[1])">User2</button>
          <div class='col-xs-3'>
            <ul>
              <li class='list-box' ng-repeat='mail in mailbox.mails'>
                <div class='box'>
                  <a ng-click='mailbox.currentMail = mail'>
                    <!-- %p {{ mail.receiver }} -->
                    <p>From: {{ mail.sender }}</p>
                    <p>the {{ mail.date | date }}</p>
                  </a>
                </div>
              </li>
            </ul>
          </div>
          <div class='col-xs-9'>
            <div class='row head-details'>
              <div class='col-xs-3'>
                <p>Receiver: {{ mailbox.currentMail.receiver }}</p>
                <p>Sender: {{ mailbox.currentMail.sender }}</p>
              </div>
              <div class='col-xs-3 col-xs-offset-6'>
                <p>{{ mailbox.currentMail.date | date }}</p>
              </div>
            </div>
            <div class='row'>
              <div class='col-xs-6 history'>
                History:
                <ul>
                  <li ng-repeat='history in mailbox.currentMail.history'>
                    <div class='row'>
                      <div class='col-xs-8'>
                        {{ history.text }}
                      </div>
                      <div class='col-xs-2 col xs-offset-2'>
                        {{ history.status }}
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
              <div class='col-xs-6'>
                <button class='btn btn-default'>Action1</button>
                <button class='btn btn-default'>Action2</button>
                <button class='btn btn-default'>Action3</button>
                <button class='btn btn-default'>Action4</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <script src='js/angular.min.js' type='text/javascript'></script>
      <script src='js/main.js' type='text/javascript'></script>
    </body>
  </head>
</html>
